[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
    if settings.DEBUG

    # Ignore pass lines
    pass

[run]
omit =
     *__init__.py*
     *tests*
     */migrations/*
