# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        name: insert-license-py
        files: \.py$
        exclude: (migrations/|__pycache__/|\.venv/)
        stages: [commit]
        args:
          - --license-filepath
          - LICENSE_HEADER.txt
          - --comment-style
          - '#'
          - --no-extra-eol
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: requirements-txt-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.1
    hooks:
    -   id: ruff
        args:
        - --fix
    -   id: ruff-format
