-r requirements.txt
coverage==7.0.4
django-stubs==1.13.1
django-test-migrations==1.2.0
factory-boy==3.2.1
faker==16.4.0
mypy==0.991
pytest==7.2.1
pytest-celery==0.0.0
pytest-django==4.5.2
pytest-env==0.8.1
pytest-rerunfailures==10.3
pytest-sugar==0.9.6
