cachetools==4.1.1
celery==5.0.3
django-authtools==1.7.0
django-cache-memoize==0.1.7
django-celery-beat==2.1.0
django-cors-headers==3.5.0
django-db-geventpool==3.2.3
django-debug-toolbar
django-debug-toolbar-force
django-environ==0.4.5
django-filter==2.4.0
django-model-utils==4.1.1
django-redis==4.12.1
django-timezone-field==4.1.1
django==3.1.4
djangorestframework-camel-case==1.2.0
djangorestframework==3.12.2
docutils==0.16
drf-yasg[validation]==1.20.0
ethereum==2.3.2
firebase-admin==4.4.0
gnosis-py==2.7.3
gunicorn[gevent]==20.0.4
hexbytes==0.2.1
packaging>=20.7
psycogreen==1.0.2
psycopg2-binary==2.8.6
redis==3.5.3
requests==2.25.0
web3==5.13.1
