-r requirements.txt
coverage==7.6.12
django-stubs==5.1.1
django-test-migrations==1.4.0
factory-boy==3.3.3
faker==35.0.0
mypy==1.15.0
pytest==8.3.4
pytest-celery==1.2.0
pytest-django==4.9.0
pytest-env==1.1.5
pytest-rerunfailures==15.0
pytest-sugar==1.0.0
